body{
    background-color: rgb(27, 28, 31);
    color: rgb(255, 255, 255);
    font-family: 'Numans', sans-serif;
}

h1{
    font-size: 3vw;

}

button{
    border: none;
    background-color: rgb(27, 28, 31);
    color: rgb(255, 255, 255);
    height: 2rem;
    width: 25%;
    outline: none;
    transition: 0.2s;
}

button:hover, button:focus{
    background-color: rgb(39, 40, 43);
}

.container{
    display: flex;
    justify-content: center;
}
